body {
  background: url("./img/BG_top.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  vertical-align: center;
  height: 100%;
}


@media screen and (max-width: 900px) {
  body {
    width: 100%;
    height: 200%;
    background-size: 150%;
    background-position: top center;
  }
}



@media screen and (min-width: 1700px) {
  body {
    width: 100vmax;
    height: 80%;
    background-size: 100%;
    background-position: top;
    background-position-y: -300px;

  }
}

.bannerhistory {
  background-color: white;
  width: auto;
  height: 400px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  overflow-y: hidden !important;
}

@media screen and (max-width: 1900px) {
  .bannerhistory {
    background-color: white;
    width: 150%;
    height: 200%;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    overflow-y: hidden !important;
  }
}


@media screen and (max-width: 900px) {
  .bannerhistory {
    background-color: white;
    width: 100%;
    height: 150%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    overflow-y: hidden !important;
  }
}

.sizebox {
  margin-top: 2%;
  margin-right: 0;
}

@media (max-width: 900px) {
    .sizebox {
        margin: 0%;
        margin-right: 0%;
    }
  }

.imgsize {
  margin: 2%;
  padding: 0;
  width: auto;
  height: 90%;
}


.containersize{
  margin: auto;
  width: 50%;
  height: auto;
}

