body {
  background: url("./img/BG_top.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  vertical-align: center;
  height: 100%; 
}

.section1{
  background-image: radial-gradient(70.27% 70.27% at 50% 60%, #000000 0%, rgba(255, 255, 255, 0) 60%);
}

@media screen and (max-width: 900px) {
  body {
    width: 100%;
    height: 200%;
    background-size: 150%;
    background-position: top center;
  }
}

@media only screen and (min-width: 1700px) {
  body {
    width: 100vmax;
    height: 80%;
    background-size: 100%;
    background-position: top;
    background-position-y: -300px;
  }
}

.bannerhistory {
  background-color: white;
  width: auto;
  height: 400px;
  margin: auto;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  overflow-y: hidden !important;
}

@media only screen and (min-width: 1500px) {
  .bannerhistory {
    background-color: white;
    width: 150%;
    height: 200%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    overflow-y: hidden !important;
  }
}

@media only screen and (max-width: 1000px) {
  .bannerhistory {
    background-color: white;
    width: 60%;
    height: 100%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    overflow-y: hidden !important;
  }
}

.sizebox {
  margin-top: 2%;
  margin-right: 0;
}

@media only screen and (max-width: 1000px) {
  .sizebox {
    margin: 0%;
    margin-right: 0%;
  }
}

.imgsize {
  display: flex;
  flex-direction: row;
  margin: 2%;
  padding: 0;
  width: auto;
  height: 90%;
}

.containersize {
  margin: auto;
  width: 50%;
  height: auto;
}


.imagems{
  margin: 2%;
  margin-right: 0;
}

@media only screen and (max-width: 1000px) {
  .imgsize img{
    margin: 2%;
    padding: 0;
    width: 100%;
    height: 50%;
    
  }
}

@media only screen and (max-width: 1000px) {
  .imgsize{
    margin: 0;
    padding: 0;
    width: 48%;
    height: 90%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 1900px) {
  .imgsize{
    margin: 0;
    padding: 0;
    width: 48%;
    height: 90%;
    object-fit: cover;
  }
}


@media only screen and (max-width: 1000px) {
  .mobileimg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
  }
}
