.bgprice {
  height: 75px;
  width: 67px;
  background: url("../img/retangle.svg") no-repeat 0% 0%;
  background-size: 100%;
}

.right {
  transform: translateX(190%);
  position: absolute;
  align-items: flex-end;
  align-self: flex-end;
}

#carousel {
  position: relative;
  margin: auto;
  width: 80%;
  overflow-x: auto;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

#carousel::-webkit-scrollbar {
  display: none;
}

#items-wrapper {
  width: 220px;
  height: 295px;
}

#items {
  position: relative;
  display: flex;
  height: auto;
}

#item img {
  width: 200px;
  height: auto;
}

#item {
  margin: 5%;
  /* margin-left: 20%; */
  background-color: white;
}


.containercarousel{
  position: relative;
  margin-bottom: 5%;
}

.containercarousel .btnleft{
  position: absolute;
  left: 1%;
  top: 30%;
}


.containercarousel .btnright{
  position: absolute;
  right: 1%;
  top: 30%;
}


.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons button {
  background: rgba(255, 255, 255, 0.836);
  border-radius: 100px;
  border: none;
  animation: animate 2s ease-in-out infinite;
}

@keyframes animate
{
  0%,100%
  {
    color: #fff;
  }
  25%,75%
  {
    color: #fff;
    box-shadow: 0px 0px 4px 4px #FE9759;
    
  }
}
