.bgprice {
  height: 75px;
  width: 67px;
  background: url("../img/retangle.svg") no-repeat 0% 0%;
  background-size: 100%;
}

.right {
  transform: translateX(190%);
  position: absolute;
  align-items: flex-end;
  align-self: flex-end;
}

#carousel {
  position: relative;
  margin-bottom: 5%;
  height: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

#carousel::-webkit-scrollbar {
  display: none;
}

#items-wrapper {
  width: 220px;
  height: 290px;
}

#items {
  position: relative;
  display: flex;
}

#item img {
  width: 200px;
  height: auto;
}

#item {
  margin: 5%;
  margin-left: 20%;
  background-color: white;
}


.containercarousel{
  position: relative;
}

.containercarousel .btnleft{
  position: absolute;
  top: 30%;
}


.containercarousel .btnright{
  position: absolute;
  left: 95%;
  top: 30%;
}


.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons button {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  border: none;
}
