.bgOffers {
  background: url("./img/BG2.png") no-repeat 0% 0%;
  background-size: 100%;
  text-align: center;
  vertical-align: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 950px) {
  .bgOffers {
    height: 200%;
    resize: both;
    background-size: cover;
    background-position: center center;
    width: auto;
    height: auto;
  }
}

.imagOffers {
  width: 100%;
  height: 70%;
}

.cardOffers {
  padding: 0;
  height: 100%;
  max-width: 250px;
  top: 0px;
  border-radius: 0px;

  background: #ffffff;
  box-shadow: 0px 0px 12px 21px rgba(0, 0, 0, 0.25);
}

.retangle {
  height: 75px;
  width: 67px;
  background: url("./img/retangle.svg") no-repeat 0% 0%;
  background-size: 100%;
  position: absolute;
}
