


a{
	color:#fff !important;
}

.dropdown-item{
	color:#000 !important;
}

.btn-link {
	color:#fff !important;
}
.itemsNavbar{
	color: #fff;
	margin-right: 2%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;
	justify-content: flex-end;
}

.navbar a:hover{
	padding: 5px;
	border-radius: 20px;
	border: 3px solid white;
}


.navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
    flex-wrap: nowrap !important;
}


.navbar-toggler:focus {	
	box-shadow: none;
}
	
