@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap);

.h-title {
  font-size: clamp(24px, calc(1.5rem + ((1vw - 3px) * 0.9877)), 40px);
  min-height: 0vw;
}

.h-subtitle {
  font-size: clamp(10px, calc(0.625rem + ((1vw - 3px) * 1.6049)), 36px);
  min-height: 0vw;
}


.p-title {
  font-size: clamp(10px, calc(0.625rem + ((1vw - 3px) * 1.8519)), 40px);
  min-height: 0vw;
}

.p-subtitle {
  font-size: clamp(10px, calc(0.625rem + ((1vw - 3px) * 0.4938)), 18px);
  min-height: 0vw;
}

.p-ingredients {
  font-size: clamp(8px, calc(0.5rem + ((1vw - 3px) * 0.2469)), 12px);
  min-height: 0vw;
}



* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.bnt-secundary {
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 90%;
  color: #fff;
  padding: 1%;
}

.bnt-secundary:hover {
  background-color: transparent;
  border: 2px solid #fe9759;
  color: #fe9759;
}

body {
  overflow-x: hidden;
}

.logosize {
  max-width: 80%;
  margin-top: 0%;
}

@media (max-width: 900px) {
  .logosize {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .logosize {
    width: 30%;
  }
}

.textcolor {
  color: white;
}

.bold {
  font-weight: 700;
}


.centralized {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

#indicator {
  position: top;
  margin-top: 0px;
  margin-bottom: 10px;
  left: 5%;
  bottom: 0;
  width: 12%;
  height: 1.5%;
  background-color: #fe9759;
  border-radius: 5px;
}

#indicator2 {
  margin: auto;
  width: 10%;
  height: 15%;
  background-color: #fe9759;
  border-radius: 5px;
}

#indicator3 {
  margin: auto;
  width: 6%;
  height: 20%;
  background-color: #fe9759;
  border-radius: 5px;
}

#indicator4 {
  margin: auto;
  width: 8%;
  height: 10%;
  background-color: #fe9759;
  border-radius: 5px;
}

.assignature {
  padding: 0;
  margin: 0;
  margin-bottom: 2%;
  text-align: left;
  font-size: 300%;
  font-weight: 400;
  font-family: "Qwitcher Grypen", cursive;
}
