@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap);


* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.logosize{
  width: 80%;
  height: auto;
}

.textcolor {
  color: white;
}

.h-title {
  white-space: nowrap;
  font-size: 200%;
  font-weight: 700;
}

.h-subtitle {
  font-size: 100%;
}

.p-title {
  font-size: 150%;
  
}

.bold{
  font-weight: 700;
}


.p-subtitle {
  font-size: 70%;
}

.centralized {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alignleft {
  text-align: left;
}

#indicator {
  position: top;
  margin-top: 0px;
  margin-bottom: 10px;
  left: 5%;
  bottom: 0;
  width: 20%;
  height: 1%;
  background-color: #fe9759;
  border-radius: 5px;
}


#indicator2{
  margin: auto; 
  width: 10%;
  height: 8%;
  background-color: #fe9759;
  border-radius: 5px;
}

.assignature {
	text-align: left;
	font-size: 300%;
	font-weight: 400;
	font-family: 'Qwitcher Grypen', cursive;
}
