.bgBooking {
  background: url("./img/reservation.png") no-repeat 0% 0%;
  background-size: 100%;
  text-align: center;
  vertical-align: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 950px) {
  .bgBooking {
    height: 200%;
    resize: both;
    background-size: cover;
    background-position: center center;
    width: auto;
    height: auto;
  }
}

.testimonials {
  width: 80%;
  height: auto;
  box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.25);
}

.imgcontainer {
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.imgcontainer img {
  width: 90%;
  margin-top: 2%;
  height: auto;
  object-fit: cover;
}

.bannerchef {
  padding: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 12px 21px rgba(0, 0, 0, 0.25);
}

.marginmobile {
  margin: 0;
}

.sizebox {
  width: 95%;
}

@media (max-width: 900px) {
  .marginmobile {
    margin: 2%;
  }
}

@media only screen and (max-width: 600px) {
  .bannerchef {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: auto;
    width: 80%;
    margin: auto;
  }
}

.avatarsize {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 2px solid #fe9759;
  margin-right: 2%;
}

.boxshadow {
  height: 20%;
  width: 80%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.column {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
